/* common.css
 *
 * Copyright (C) 2017 Universidad de Sevilla
 * 
 * The use of this project is hereby constrained to the conditions of the 
 * TDG Licence, a copy of which you may download from 
 * http://www.tdg-seville.info/License.html
 * 
 */
label {
	font-weight: bold;
}

body {
	background-color: white;
}

.error {
	color: red;
	font-weight: bolder;
}

.message {
	color: red;
	font-weight: bolder;
}

#barraaceptacion {
	position: fixed;
	left: 0px;
	right: 0px;
	bottom: 0px;
	padding-bottom: 20px;
	width: 100%;
	text-align: center;
	min-height: 40px;
	background-color: rgba(0, 0, 0, 0.5);
	color: #fff;
	z-index: 99999;
}

.inner {
	width: 100%;
	position: absolute;
	padding-left: 5px;
	font-family: verdana;
	font-size: 12px;
	top: 30%;
}

.inner a.ok {
	padding: 4px;
	color: blue;
	text-decoration: none;
}

.inner a.info {
	padding-left: 5px;
	text-decoration: none;
	color: orange;
}